
<div class="card mx-auto my-3" style="width: 40rem;">
    <p id="notice"><%= notice %></p>
        <%= link_to tweeets_path,class:"icon mx-2 my-3 fs-3" do%>
            <span><i class="bi bi-arrow-left"></i></span>
        <%end%>
    <h5 class="card-header"><%= @tweeet.tweeet %></h5> 
    <div class="d-flex justify-content-evenly flex-row my-2 ">
        <div>
        <%= link_to  new_tweeet_comment_path(@tweeet),remote: true,'data-bs-toggle' =>  "modal", 'data-bs-target' => '#CommentModal',class:"icon"  do %>
	        <span>
            <i class="bi bi-chat" style="width:10px; color:black;"></i>
            </span>
        <%end%>
        <span class="count">
            <%=@tweeet.comments.count%>  
       </span>
   </div>
   <div class="d-flex" id="tweet_<%=@tweeet.id%>">
       <%=render 'likes/toggle',tweeet_id:@tweeet.id%>
         <%=@tweeet.likes.count%>  
    </div>
  </div>
  <hr>
 
    <div class="card-body">
        <h5 class="card-title">Comment</h5>       
          <%=render "comments/comment"%>        
    </div>
</div>

<div id="CommentModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="Comment-content"></div>
    </div>
</div>